*{
    padding:0;
    margin:0;
    list-style:none;
    box-sizing:border-box;
 
}
/* body{
    overflow-x:hidden;
} */
/* body{
    box-sizing:border-box;
} */
a{
    text-decoration:none;
    user-select: none;
    color:black;}
/* .blur {
    backdrop-filter: blur(10px);
} */

.pr{
    position:relative;
}
.pa{position:absolute;}
.pf{position:fixed;}
.fl{float:left;}
.fx{
    display:flex;
}

.inner{
    width:100%;
    max-width:1224px;
    margin:auto;
    height:100%;
    /* background:#ffffff6b; */
}
.top>li:first-child{
    width:100px;
    height:20px;
}

.main_visual{
    height:920px;
    overflow:hidden;
}
.main_visual>img{
    width:100%; 
    top:0; 
    z-index:-100;
}
/* main{height:2000px;} */
.spotmenu>a:first-child{
    margin-right:10px;
}
.quick{
    position:fixed;
    width:100px;
    height:70px;
    background-color:rgba(56, 56, 56,1);
    /* border-radius:10%; */
    top:47px;
    right:0px;
    z-index:100;
    padding:25px 10px 10px 15px;
    text-align:center;
    border-radius:20px 0 0 0;
}
.quick>p{
    font-size:1.5rem;
    color:white;
}
.quick>img{
    width:30px;
    opacity:.4;
}
.quick>ul{
    position:fixed;
    right:0px;
    top:110px;
    padding:10px;
    display:none;
    width:100px;
    background:rgba(56, 56, 56,1);
    transition:all 0.5s;
}
.quick li{padding:20px 0 20px 0px;}
.quick a{color:white;}
.quick:hover >ul{display:block}
/* 탑버튼 */
.top_btn{
    position:fixed;
    top:80%;
    right:0%;
    width:80px;
    height:80px;
    border-radius: 50px;
    z-index: 999999999;
    padding:10px;
    background-color:#3b770c;
    color:#ffffff;
    font-size:2.2rem;
    font-weight:600;
    text-align:center;
    line-height: 60px;
    opacity:0;
    transition:all 0.7s;
}
.top_btn.show{
    opacity:1;
    right:2%;
}
/* 스크롤바 -------------------------------------------------------*/
.progress{
    position:fixed;
    left:0%;
    top:0px;
    height:70px;
    text-align:center;
    line-height:1;
    width:100%;
    z-index:100;
}

.progress span{
    position:absolute;
    display:block;

}
.progress .bar{
    width:0%;
    height:100%;
    background-color: rgba(93, 255, 61, 0.253);

}

/* 스티키헤더----------------------------------------------------------------- */
/* .glass{
	
}
.glass>.inner{
    display:flex;
    width:960px;
    margin:auto;
    justify-content: space-around;
} */
.primary-nav{line-height: 65px;}
.primary-nav ul{display:flex;gap:20px;}

/* clone */
.glass-clone{
	/* filter:drop-shadow(0 2px 5px rgba(0,0,0,0.5)); */
	filter:drop-shadow(0 2px 5px rgba(255, 255, 255, 0.9));
	/* background-color: white; */
	backdrop-filter:blur(10px);
	opacity:1;
	position:fixed;
	top:-150px;
	left:0;
	right:0;
    height:70px;
    color:white;
	transition:top .5s;
    z-index:200;
}
.glass-clone.visible{
	top:0px;
}
/* .glass-clone>.inner{
    display:flex;
    width:960px;
    margin:auto;
    justify-content: space-around;
} */
/* 여기까지는 기본 */
/* 여기부터 header_top----------------------- */
header{
    height:960px;
    
}
.header_top{    
    height:47px;
    background:rgb(255, 255, 255);
}
.header_bottom_banner{
    height:900px;
    overflow:hidden;
    z-index:99;
}

.glass{
    background: rgba( 255, 255, 255,0.5 );
    backdrop-filter: blur( 5px );
    height:70px;
    }
.top{
    float:right;
    gap:20px;
}
.header_top>.inner{
    padding:15px;
    /* padding-bottom:25px; */
}
.header_top a{
    color:var(--text2);
    font-size:1.3rem;
    font-weight:500;
}
.top_desc{
    display:inline-block;
    transform: translateX(40px);
}

/* 여기부터 header_bottom_banner --------------------*/

/* 속성선택자 */
.slide>div[class*='slide']{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    /* opacity:0; */
    /* transition:opacity 1s; */
    z-index:-1;
}
/* .slide>div[class*='slide'].on{
    opacity:1;
} */

.slide1{
    background:url(../img/Slide1.jpg) no-repeat center top/cover;
    left:0;
}
.slide2{
    background:url(../img/Slide2.jpg) no-repeat center top/cover;
    z-index:2;
    left:100%;
}
.slide3{
    background:url(../img/Slide3.jpg) no-repeat center top/cover;
    z-index:1;
    left:-100%;
}
/* .textbox{ 
    position:absolute; 
    right:10%;
    top:50%;
    transform:translateY(-50%);
    width:30%;
    background-color:rgba(83, 83, 83, 0.473);
    padding:2%;
    text-align:center;
    }
    .textbox h2{
        color:#fff;
        font-size:40px;
    }
    .textbox h3{
        color:#fff;
        font-size:20px;
    } */

    .btnImg img{
        width:50px;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
    .btnImg img[alt='left']{left:10%;}
    .btnImg img[alt='right']{right:10%;}
    .pager{
        display:flex;
        position:absolute;
        bottom:20%;
        left:50%;
        gap:10px;
        transform: translateX(-50%);
    }
    .pager li{
        width:14px;
        height:15px;
        background:url(../img/btnVisual.png) 0 -16px no-repeat;
    
    }
    .pager li a{
        display:block;
        text-indent:-999999px;
    }
    .pager li.on{
        background-position: 0 0;
    }

.logo>a{
    padding:10px;
}

.gnb{
    left:300px;
    margin-left: 200px;
    width:1000px;
    margin-bottom:60px;
    margin-right:0;
    padding-right:0;
} 

.gnb li{
    padding:15px;
    padding-top:30px; 
}
/* ====================================
    ======= deps 메뉴 ======    
==================================== */
.menu_title>p{
    margin:50px 0 0 10px;
    font-size:1.3rem;
}
.menu_title>h2:after{
    position:absolute;
    content:'';
    width:1px;
    height:80%;
    background:rgb(188, 188, 188);
    top:10%;
    left:35%;
}
nav{width:100%; height:9.4rem;}
.dep1 li{
    margin-right:20px;
    max-width: 200px;
    
}

.dep1>a:hover{
    text-decoration: 4px underline var(--accent);
}
.dep2{display:flex; }
.dep2>li{
    margin-left:100px;
    padding:0px;
    width:400px;
}
.dep2 dt{
    padding:10px 0 0 0;
}
.dep2 dl{
    padding-top:20px;
    margin-bottom:20px;
}
.dep2 h3>a{
    font-size:2rem;
}
.dep2 h3{
    border-bottom:#555;
    width:130px;
}

/* .dep1{opacity:0;}삭제 */
/* .dep1:nth-child(1){opacity:1;} 삭제 */
.w100{
    position:absolute;
    width:100%;
    background:rgb(255, 255, 255);
    left:0;
    top:70px;
    height:0px; /* 0으로 수정 */
    padding:0 0;
    overflow:hidden;
    transition:padding .5s;
    box-shadow:0 2px 2px rgba(0,0,0/7%);
}
.gnb li:hover .w100{
    padding:40px 0;
    height:auto;
    /* box-shadow:0 10px 10px rgba(0,0,0,.3); */
}

.imggnb{
    width:100px;
    margin:22px 0 22px 22px;
    
 }
.imggnb>img{
    display:inline-block;
    margin:0 0 10px 20px;
    width:40px;
    height:30px;
}
.imggnb>div{
    display:inline-block;
}
.imggnb .material-symbols-outlined{ /* gnb 사이트맵 아이콘*/
    display:inline-block;
    margin-left:10px;
    margin-bottom:10px;
    font-size:35px;
    color:black;}
.sitemap{
    position:fixed;
    margin:auto;
    top:0px;
    right:0px;
    /* transform:translateX(-50%); */
    width:100%;
    height:100%;
    background:rgb(255, 255, 255);
    display:none;
    z-index:100000;
    overflow-y:scroll;
    transition:all 1s;
}
.map_head{
    text-align: center;
}
.sitemap ul{
    margin:50px 0 0 150px;
}
.sitemap h2{
    width:150px;
    font-weight:700;
    font-size:2.7rem;
    padding:0;
}
.sitemap h3{
    font-size:2rem;
}
.sitemap dt{
    padding:7px;
}
.sitemap dl{
    padding-top:10px;
}
.sitemap ul li{
    width:180px;
    margin-left:70px;
}
.map_head{
    width:100%;
    height:50px;
    background:#424242;
    line-height: 50px;
    
}
.map_head p{
    position:absolute;
    display:inline-block;
    
}
.map_head p:first-child{
    left:48%;
    line-height: 50px;
    color:white;
}
.map_head p:last-child{
    left:50%;
    font-size:2rem;
    color:white;
}

/* .map:hover .sitemap{
    display:block;
} */
/* 여기부터 아이콘------------------------- */
.icon{
    width:1050px;
    height:120px;
    border-radius:50px;
    background:white;
    top:840px;
    left:50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    align-items:center;
    z-index:99;
    /* display:none; */
}
.icon>div{
    background:rgb(72, 126, 85);
    padding:65px 40px 50px 60px;
    font-size:2rem;
    color:var(--white);
    text-align:center;
    line-height:2rem;
}
.icon>div>p:nth-child(2){
    padding-top:10px;
    font-size: 1.2rem;
}
.icon>div>p>i{
    position:absolute;
    left:27px;
    top:29px;
    
}
.icon ul{
    margin:auto;
}
.icon li{   
    padding: 3rem;
    font-size:1.5rem;
    font-weight:800;
    text-align:center;   
}
.icon i{padding-top:1.5rem;}
.icon li >p{
    padding:2rem;
}
.icon li p{
    color:#555;
    transition:all 0.3s;
}
.icon li:hover p{
    color:var(--accent);
}
.icon li i{
    color:#555;
    transition:all 0.3s;
}
.icon li:hover i{
    color:var(--accent);
}
/* 배경 */
.content1,
.content2,
.content3,
.content4,
header,
main,
footer {
	position: relative;
	width: 100%;
	height: auto;
}
/* 애니메이션 */
#lottie{
    position:absolute;
    width:300px;
    top:0;
}
.content1:before {
	background: url(../img/paw.png) no-repeat;
	position: absolute;
	content: '';
	width: min(30%, 300px);
	height: min(50%, 300px);
	opacity: 0.4;
	z-index: -1;
	filter: grayscale(0.3);
}
header:before {
	background: url(../img/bg1.png) no-repeat;
	position: absolute;
	content: '';
	width: 100%;
	height: 900px;
	top: 700px;
	right: 0;
	z-index: -1;
}
.content2:after {
	background: url(../img/bg2.png) no-repeat;
	position: absolute;
	content: '';
	width: 110vw;
	height: min(100vh, 900px);
	top: -50%;
	right: 0;
	filter: grayscale(0.3);
	opacity: 0.4;
	z-index: -1;
}
.content3:before {
	background: url(../img/bg3.png) no-repeat;
	position: absolute;
	background-size: cover;
	content: '';
	width: 120%;
	height: 500px;
	top: 20%;
	right: 0;
	z-index: -1;
	filter: grayscale(0.3);
	opacity: 0.4;
}
.content4:after {
	background: url(../img/bg4.png) no-repeat;
	position: absolute;
	background-size: cover;
	content: '';
	width: 100%;
	height: 900px;
	top: -10%;
	left: 0;
	z-index: -1;
	filter: grayscale(0.3);
	opacity: 0.5;
}
/* 여기부터 content1-동물원/식물원/산림휴양 */
.content1{
    margin-top:200px;
    height:600px;
    z-index:2;
    
}
.content1>.inner{
    gap:24px;
    flex:1 1 0;
}

.zoo,.sikmul,.sanrim{
    width:380px;
    height:450px;
    box-shadow: 4px 4px 30px 10px rgba(194, 191, 191, 0.7);
    top:120px;
    border-radius:5%;
    overflow:hidden;
}
.zoo{
    background:url(../img/parrot.jpg);
    left:0;
}
.sikmul{
    background:url(../img/botan.png);
}
.sanrim{
    background:url(../img/sanrim.png);
    right:0;
}
.zooa,.sikmula,.sanrima{ /* 내용 */
    background:rgba( 255, 255, 255,0.8 );
    width:380px;
    height:150px;
    margin-top:350px;
    transition:all 0.3s;
}

.content1 .n1ame{
    font-size:3rem;
    font-weight:500;
    
    padding:0px 0 0px 50px;
    margin: 30px 0 20px 0;
    float:left;
    color:#3a3a3ae6;
    
}
.content1 .material-symbols-outlined{
    display:inline-block;
    font-size:30px;
    color:#7a7a7a;
    padding: 30px 0 0 0px;
    margin:0px 0 0 10px;
    transition:all 0.3s;
}
.content1 p{
    font-size:14px;
    display:block;
    float:left;
    padding:20px 60px 10px 50px;
    color:rgba(58, 58, 58, 0);
}
.zoo:hover .zooa{margin-top:300px;}
.sikmul:hover .sikmula{margin-top:300px;}
.sanrim:hover .sanrima{margin-top:300px;}
.zoo:hover .zooa>p{color:rgb(58, 58, 58);}
.sikmul:hover .sikmula>p{color:rgb(58, 58, 58);}
.sanrim:hover .sanrima>p{color:rgb(58, 58, 58);}
.zoo:hover .material-symbols-outlined{color:rgb(58, 58, 58);}
.sikmul:hover .material-symbols-outlined{color:rgb(58, 58, 58);}
.sanrim:hover .material-symbols-outlined{color:vrgb(58, 58, 58);}


.content3:after{ /* 배경 코끼리/이거 때문에 content1에 pr 줬음 */
    /* background:url(../img/elephant.png) no-repeat; */
    content:'';
    height:800px;
    width:500px;
    right:0;
   
    z-index:-10;
    opacity:.5;
    position:absolute;
}
/* 배경발자국/이거 넣으니까 코끼리 사라짐 */
/* .content1:before{ 
    background:url(../img/footprint.png) no-repeat;
    content:'';
    height:500px;
    width:700px;
    right:20%;
    top:160%;
    z-index:-1;
    opacity:.4;
    user-select: none;
    position:absolute;
}  */
/* 배경발자국/오른쪽 */
/* .content1:after{ 
    background:url(../img/footprint.png) no-repeat;
    content:'';
    height:500px;
    width:700px;
    right:-30%;
    top:90%;
    z-index:-1;
    opacity:.4;
    user-select: none;
    position:absolute;
}  */
/* 사슴 그림*/
/* .content2:before{ 
    background:url(../img/dear.png) no-repeat;
    position:absolute;
    content:'';
    height:1000px;
    width:700px;

    z-index:-1;
    opacity:.2;
    user-select: none;
    transform:scaleX(-1);

}  */
/* 여기부터 content2-공지사항 */
.content2{
    height:620px;
}
.content2>.inner{
    flex:1 1 0;
    gap:100px;
}
.notice{
    width:560px;
    height:520px;
    top:50px;
    padding:20px 40px 40px 0px; 
}
.notice ul,h2{
    padding:10px 0 0 0px; /* position absolute라 작동 안함 */
}
.notice h2{
    display:inline-block;
    margin:0 0 15px 30px;
    font-weight: 600;
    font-size:4rem;
}
.notice h2>span{
    color:var(--primary2);
    
}
.plus>.material-symbols-outlined{

    margin:20px 0 0 50px;
}
.plus{
    margin:0 0 20px 0;
}
.tabs{  /* 공지사항 밑에 박스 */ 
    background:white;
    width:550px;
    height:400px;
    box-shadow: 4px 4px 50px 10px rgba(194, 191, 191, 0.5);
    border-radius:40px;
    padding: 10px 0 0 30px;
}
.tabs>h2{/* 소제목 폰트 */ 
    font-size:3.1rem;
    font-weight:500;
    width:100px;
}
.tabs>h2>span{
    color:var(--primary2)
}

.plus>span{
    position:absolute;
    width:30px;
    height:30px;
    margin:14px 0 0 420px;
    color:#555;
}
   
/* 소제목 폰트 */

.notice>h2{
    padding-top:0px;
    font-size:31px;
    color:var(--text1);
}


/*  */
.notice>h2:nth-of-type(1){
    font-weight:600;
    padding-bottom:10px;
    color:var(--primary2);
}
.notice>ul:nth-of-type(1),h2{
    padding-left:10px;
}

.tabs>ul>li{  /* 공지/채용/입찰*/
    font-size:2rem;
    margin-right:40px;
}
.tabs>label{
    display:inline-block;
    margin:25px 0 0 10px;
}
.tabs>label{
    font-size:2rem;
    margin:30px 0 0 35px;
    color:#555;
}
.tabs input:checked+label{  /* 미리 선택자에 표시하기 */
    text-decoration:3px solid underline var(--primary2);
    text-align:center;
    font-weight:600;
    border-radius:20px;
    padding:10px;
    color:#000;
    font-size:2.4rem;
}
.tabs .panel:before{    /* 공지/채용/입찰밑의 선 */
    position:absolute;
    content:"";
    width:415px;
    height:1px;
    top:15px;
    left:45px;
    margin:0;
    background:rgb(206, 206, 206);
}
.tabs li{  /* 공지내용 */
    position:relative;
    padding:17px;
   

}

.tabs ul li a span:first-child{
    display:inline-block;
    width:320px;
    font-size:1.8rem;
    padding:0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.date{
    position:absolute;
    right:0;  
   
}

.tabs>.panel>.pa>li:before{  /* 리스트 불릿 기호 */
	position:absolute;
	content:"";
	width:5px;
	height:5px;
	background-color:rgb(12, 71, 12);
	border-radius:50%;
	top:50%;
	transform:translateY(-50%);
	left:-1rem;
}
.tabs>.panel>.pa>li:after{   /* 리스트 선 */
    position:absolute;
    content:"";
    width:420px;
    height:1px;
    margin:10px;
    background:rgb(218, 218, 218);
}
.tabs>.panel>ul>li{
    width:440px;
}

/* .tabs input{opacity:0;}  */ /* tab기능 */

.tabs>label:not(:nth-of-type(4)):after{
    position:absolute;
    content:'';
    width:1px;
    height:20px;
    background:rgb(175, 175, 175);
    margin:0 20px 0 21px;
}
.tabs>.panel>ul{
    padding:15px 0 0 20px;
    opacity:0;
}

.tabs input{display:none;}

label:hover{
    cursor:pointer;
}

.tabs #one:checked~.panel ul.notice_list{
    opacity:1;
}
.tabs #two:checked~ .panel>ul:nth-of-type(2){
    opacity:1;
}
.tabs #three:checked~ .panel>ul:nth-of-type(3){
    opacity:1;
}
.tabs #four:checked~ .panel>ul:last-child{
    opacity:1;
}

/* content2 홍보배너 */
.advertise{
    background:rgba(255, 255, 255, 0.637);
    width:500px;
    height:400px;
    margin-top:105px;
    border:1px solid rgb(196, 196, 196);
    border-radius:5%;
    padding:30px;
    z-index:10;
    box-shadow: 4px 4px 50px 10px rgba(194, 191, 191, 0.5);
    
}
.adslide{
    position:relative;
    width:480px;
    height:280px;
    border-radius:8%;
    transform:translateX(-10%);
    overflow:hidden;
}
.advertise>h2{
    display:inline-block;
    margin:0 0 15px 40px;
    padding-top:10px;
    font-weight:500;
    color:var(--primary2);
    font-size: 31px;
}
.advertise>h2>span{
    color:#555;
}

.adslide>div{
    position:absolute;
    width:100%;
    height:100%;
   
}
.adslide1{
    background:url(../img/advertise.png) no-repeat top/cover;
    
}
.adslide2{
    background:url(../img/ad1.jpg) no-repeat top/cover;
    left:200%;
}
.adslide3{
    background:url(../img/ad2.jpg) no-repeat top/cover;
    left:200%;
}
.adslide4{
    background:url(../img/ad3.jpg) no-repeat top/cover;
    left:200%;
}
.adslide5{
    background:url(../img/ad4.png) no-repeat top/cover;
    left:200%;
}
.adslide6{
    background:url(../img/ad5.jpg) no-repeat top/cover;
    left:200%;
}

.move{
    margin-left:100px;
    width:100px;
    display:inline-block;
}
.pause {
    box-sizing: border-box;
    display: inline-block;
    width: 8px;
    height: 12px;
    border-left: 3px solid;
    border-right: 3px solid;
    margin:0 0 6px 3px;
}
/* ====================================
    ======= content3 ======    
==================================== */

/* .content3::after{
    position:absolute;
    content:'';
    width:100%;
    height:1px;
    margin-top:50px;
    background-color:#d8d8d8;

} */ /* content3 밑에 선 */
.content3 .banner{
    position:relative;
    transition:all 1s;

}
.content3>.inner>h2{ /* 교육프로그램 제목*/
    margin-left:40px;
    font-size:4rem;
    font-weight:500;
}
.content3>.inner>h2>span{ /* 교육프로그램 제목 색깔 부분*/
    color:var(--primary2);
}
/* content3 프로그램 */
.content3{
    width:100%;
    margin-top:50px;
    height:630px;
    /* background:rgb(211, 211, 211); */
}
.content3 .inner{
    width:100%;
    max-width: 1230px;
    height:100%;
    margin:auto;
    overflow:hidden;
}
.banner{
    width:6000px;
    height:100%;
   
}
.banner>div{   /* 교육프로그램 컨텐츠들 */
    position:relative;
    width:330px;
    height:350px;
    margin:40px;
    margin-top:100px;
    border: 1px solid #888;
    border-radius:30px;
    overflow:hidden;
    box-shadow:1px 1px 15px 10px rgba(171, 175, 170, 0.3);
    transition:all .5s;
}
.banner>div:hover{
    box-shadow:1px 1px 15px 10px rgba(74, 84, 74, 0.3);
}

.content3 img{
    width:100%;
}

.banner>.pr :after{
    position:absolute;
    content:'종료';
    width:70px;
    height:70px;
    border-radius:50%;
    background:rgb(102, 102, 102);
    top:-15%;
    left:74%;
    line-height:65px;
    font-size:2rem;
    text-align:center;
}
.arrow_l{
    position:absolute;
    top:40%;
    left:31%;
    width:70px;height:70px;

    z-index:10;
    
    
}
.arrow_r{
    position:absolute;
    top:40%;
    width:70px;height:70px;
    left:64%;
    z-index:10;
}
.proga{
    position:absolute;
    bottom:0;
    width:100%;
    height:110px;
    background:white;
    padding:20px 30px 30px 30px;
}
.banner>img{
    position:absolute;
}
.proga>h4{
    font-size:1.6rem;
    font-weight:200;
    display:block;
    margin-bottom:15px;
}
.proga>div{
    position:absolute;
    font-size:1.8rem;
    font-weight:400;
    width:80%;
    white-space:nowrap;
    text-overflow:ellipsis;
    word-break:break-all;
    overflow:hidden;
}
.prog1{
    background:url(../img/prog1.jpg) no-repeat top/cover;
}
.prog2{
    background:url(../img/prog2.jpg) no-repeat top/cover;
}
.prog3{
    background:url(../img/prog3.jpg) no-repeat top/cover;
}
.prog4{
    background:url(../img/pr0.jpg) no-repeat top/contain;
}
.prog5{
    background:url(../img/pr1.jpg) no-repeat top/contain;
}
.prog6{
    background:url(../img/pr2.jpg) no-repeat top/contain;
}

/* ====================================
    ======= content4 ======    
==================================== */
.content4{
    height:600px;
    /* background:rgba(172, 172, 172, 0.445); */
}
.vr{
    width:560px;
    height:560px;
    border-radius:50px;
    padding:30px;
    
}
.tab_wrapper{
    position:relative;
    width:520px;
    height:400px;
}
.tab_menu{
    /* box-shadow: 4px 4px 20px 10px rgba(167, 167, 167, 0.3); */
    margin-top:30px;
    width:100%;
    height:100%;
    padding:20px 0 0 0;
    border-radius:0 0 40px 40px;
    /* overflow:hidden; */
}
.tab_menu>ul>li{
    display:inline-block;
}
.tab_menu>ul>li>a{
    font-size:2rem;
    font-weight:600;
    padding:28.9843px;
    background-color: #fff;
    /* border-radius:40px; */
}
.vr>h2{
    font-size:4rem;
    font-weight:500;
    margin-left:30px;
}
.vr>h2>span{
    color:var(--primary2);
}
.tab_menu li:not(:nth-of-type(4)):after{ /* 동물원 옆에 선*/
    /* content:''; */
    position:absolute;
    width:1px;
    height:17px;
    background:#777;
    margin:0 10px 0 20px;
    
}
.tab_content div{
    position:absolute;
    top:15%;
    width:100%;
    height:300px;
    overflow:hidden;
    display:none;
    border-radius: 0 0 30px 30px;
}
.tab_content div img{
    /* position:absolute; */
    width:100%;
    top:0px;
}
.tab_menu li a.active{
    text-align:center;
    font-weight:600;
    border-radius:20px 20px 0 0;
    padding:20px;
    font-size:2rem;
    background-color:#3d7e0c;
    color:#fff;
}
.tab_content>div.active{
  
    display:block;
}

/* 패키지/할인권 */
.content4>.inner{
    gap:180px;
}
.pack{
    width:450px;
    height:330px;
    background-color: #fff;
    border:1px solid;
    border-color:#888;
    box-shadow: 4px 4px 20px 10px rgba(167, 167, 167, 0.3);
    margin:50px 0 0px 0;
    padding:30px 0 0 0;
    border-radius:20px;
    overflow:hidden;
}
.pkslide{
    position:relative;
    width:100%;
    height:100%;
    margin-top:30px;
}
.pkslide>div{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.pkimg1{
    background:url(../img/pk1.png) no-repeat top/contain;
}
.pkimg2{
    background:url(../img/pk2.png) no-repeat top/contain;
    left:200%;
}
.pkimg3{
    background:url(../img/park.png) no-repeat top/cover;
    left:200%;
}

.pkimg>img{
    width:450px;
    height:430px;
}
.pack h3{
    margin-left:50px;
    font-size:2.7em;
    font-weight:600;
    color:var(--text1);
}
.pack>div{
    display:inline-block;
}
.move>.material-symbols-outlined{
    cursor:pointer;
}

/* sns */

.sns{
    width:450px;
    height:100px;
    border: 1px solid #555;
    border-radius: 30px;
    display:flex;
    margin-top:60px;
    padding:15px;
    background-color:white;
    box-shadow: 4px 4px 20px 10px rgba(167, 167, 167, 0.3);
}
.sns h3{
    width:100px;
    display:block;
    padding-right:20px;
    padding-top:3px;
    font-size:2rem;
    background:white;
    margin:12px 0 0 10px;
    /* background: var(--primary1); */
}
.sns_icon{
    margin-top:5px;
}
.sns_icon>div{margin-right:20px;}
.sns_icon img{
    width:50px;height:50px;
}

/* ====================================
    ======= content5. 아카이브 ======    
==================================== */
.content5{
    /* background-color: rgb(57, 128, 62); */
    border:1px solid #888;
    padding:40px;
    height:500px;
    background:white;
}
.content5>.inner>h2{
    font-weight:500;
    margin:30px 0 0 50px;
}
.content5>.inner>.pr{
    width:106rem;
    height:100%;
    margin:auto;
    margin-top:50px;
    overflow:hidden;
    
}
.arcs{
    gap:15px;
    overflow:hidden;
}
.arcs>div{
    width:250px;
    height:250px;
    margin:0px;
    background-color: red;
    overflow:hidden;
}
.arcs>div>div{
    text-align:center;
}
.a_img{
    height:200px;
    overflow:hidden;
}
.arcaa{
    width:250px;
    height:50px;
    padding:20px;
    background-color: white;
}
#arrow_b{
    position:absolute;
    top:50%;
    left:0%;
    color:#555;
    
    cursor:pointer;
}
#arrow_f{
    position:absolute;
    top:50%;
    right:0%;
    color:#555;
   
    cursor:pointer;
}
.arc1{
    background:url(../img/img_visual02.jpg) no-repeat top/cover;
}
.arc2{
    background:url(../img/img_visual03.jpg) no-repeat top/cover;
}
.arc3{
    background:url(../img/img_visual04.jpg) no-repeat top/cover;
}
.arc4{
    background:url(../img/keyVisual_0.jpg) no-repeat top/cover;
}


/* ====================================
    ======= footer임 ======    
==================================== */
footer{
    height:250px;
    background:rgb(225, 225, 225);
    padding:30px;
}
footer>.inner>.fx{
    gap:30px;
}
.logogrey>img{
    width:150px;
}
.selectset{
    display:flex;
    margin-left:210px;
    gap:100px;
}

.select>ul{
    position:absolute;
    width:150px;
    height:100px;
    display:none;
    bottom:30px;
    background:gray;
  }

.select:hover >ul{
  display:block;
  overflow-y: scroll;
}
.select li{
    padding:10px;
}
.select p{
  width:150px;
  font-size:1.6rem;
  font-weight:600;
  background:rgb(153, 153, 153);
  color:#2e2e2e;
  text-align: center;
  padding:0px 0 10px 0;
}

footer .fx:last-child{
    margin-top:20px;
}
.infos{
    margin:0px 0 0 30px;
}
    
.info{
    width:800px;
    margin-top:20px;
}
.info>div{

    display:inline-block;
    margin-right:40px;
}
.info>div>a{
    font-size:1.3rem;
 
}
.address{
    font-size:1.3rem;
    width:700px;
    margin-top:2rem;
}
.copyright{
    font-size:1.3rem;
    width:700px;
    margin-top:4rem;
}

.call>div{
    font-size:1.3rem;
    display:inline-block;
}

.mark>img{
    width:100px;
    height:60px;
    margin-top:50px;

}
.logogrey{
    margin-top:20px;
}
.htmlvalidator{
    position:absolute;
    right:10%;
    bottom:10%;
    z-index:100;
    
}
.cssvalidator{
    position:absolute;
    right:0;
    bottom:10%;
    z-index:100;
}
.htmlvalidator>img{
 height:40px;
}
.cssvalidator>img{
    height:40px;
}
/* phone */
