*{
    padding:0;
    margin:0;
    list-style:none;
    box-sizing:border-box;
 
}
/* body{
    overflow-x:hidden;
} */
/* body{
    box-sizing:border-box;
} */
main {
  position: relative;
}
main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 270px;
  background-color: #dddddd86;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.main_banner {
  position: relative;
  width: 100%;
  height: 270px;
  background: url(../images/sub_hero.jpg) 50% / cover no-repeat;
}
.main_banner h2 {
  position: absolute;
  z-index: 5;
  color: #fff;
  font-size: 49px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container {
  width: 100%;
  height: 580px;
}
.container h2 {
  color: var(--text1, #b4b4b4);
  /* h2 */
  font-family: Pretendard;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 68.25px */
  text-align: center;
  margin: 47px 0 65px 0;
}
.container form {
  width: 372px;
  margin: auto;
}
.container .input_group {
  display: flex;
  width: 372px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.container .input_group:first-child {
  margin-bottom: 30px;
}
.container .input_group label {
  color: var(--primary, #72ae67);
  /* Subtitle/M */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  width: 100%;
}
.container .input_group label input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border-bottom: 1px solid #c1c7cd;
  background: #f2f4f8;
  margin-top: 8px;
  margin-bottom: 4px;
}
.container .input_group label input::placeholder {
  color: var(--text2, #a2a9b0);
  font-size: 16px;
  line-height: 140%;
}
.container .input_group span {
  color: #697077;
  font-size: 12px;
}
.container form button,button{
  display: flex;
  width: 205px;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid var(--primary, #72AE67);
  background: var(--primary, #72AE67);
  margin:47px auto 0;
}
.container form button img{
    width: 24px;
height: 24px;
flex-shrink: 0;
}
.quick{
    z-index:10;
}

/*  */
a{
    text-decoration:none;
    user-select: none;
    color:black;}
/* .blur {
    backdrop-filter: blur(10px);
} */

.pr{
    position:relative;
}
.pa{position:absolute;}
.pf{position:fixed;}
.fl{float:left;}
.fx{
    display:flex;
}

.inner{
    width:100%;
    max-width:1224px;
    margin:auto;
    height:100%;
    /* background:#ffffff6b; */
}
.top>li:first-child{
    width:100px;
    height:20px;
}

.main_visual{
    height:920px;
    overflow:hidden;
}
.main_visual>img{
    width:100%; 
    top:0; 
    z-index:-100;
}
/* main{height:2000px;} */

.quick{
    position:fixed;
    width:100px;
    height:70px;
    background-color:rgba(56, 56, 56,1);
    /* border-radius:10%; */
    top:47px;
    right:0px;
    z-index:100;
    padding:25px 10px 10px 15px;
    text-align:center;
    border-radius:20px 0 0 0;
}
.quick>p{
    font-size:1.5rem;
    color:white;
}
.quick>img{
    width:30px;
    opacity:.4;
}
.quick>ul{
    position:fixed;
    right:0px;
    top:110px;
    padding:10px;
    display:none;
    width:100px;
    background:rgba(56, 56, 56,1);
    transition:all 0.5s;
}
.quick li{padding:20px 0 20px 0px;}
.quick a{color:white;}
.quick:hover >ul{display:block}
/* 탑버튼 */
.top_btn{
    position:fixed;
    top:80%;
    right:0%;
    width:80px;
    height:80px;
    border-radius: 50px;
    z-index: 999999999;
    padding:10px;
    background-color:#3b770c;
    color:#ffffff;
    font-size:2.2rem;
    font-weight:600;
    text-align:center;
    line-height: 60px;
    opacity:0;
    transition:all 0.7s;
}
.top_btn.show{
    opacity:1;
    right:2%;
}
/* 여기까지는 기본 */
/* 여기부터 header_top----------------------- */
header{
    height:960px;
    
}
.header_top{    
    height:47px;
    background:rgb(255, 255, 255);
}
.header_bottom_banner{
    height:90px;
    overflow:hidden;
    z-index:99;
}

.glass{
    background: rgba( 255, 255, 255,0.5 );
    backdrop-filter: blur( 5px );
    height:70px;
    }
.top{
    float:right;
    gap:20px;
}
.header_top>.inner{
    padding:15px;
    /* padding-bottom:25px; */
}
.header_top a{
    color:var(--text2);
    font-size:1.3rem;
    font-weight:500;
}
.top_desc{
    display:inline-block;
    transform: translateX(40px);
}

/* 여기부터 header_bottom_banner --------------------*/

/* 속성선택자 */
.slide>div[class*='slide']{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    /* opacity:0; */
    /* transition:opacity 1s; */
    z-index:-1;
}
/* .slide>div[class*='slide'].on{
    opacity:1;
} */

.slide1{
    background:url(../img/Slide1.jpg) no-repeat center top/cover;
    left:0;
}
.slide2{
    background:url(../img/Slide2.jpg) no-repeat center top/cover;
    z-index:2;
    left:100%;
}
.slide3{
    background:url(../img/Slide3.jpg) no-repeat center top/cover;
    z-index:1;
    left:-100%;
}
/* .textbox{ 
    position:absolute; 
    right:10%;
    top:50%;
    transform:translateY(-50%);
    width:30%;
    background-color:rgba(83, 83, 83, 0.473);
    padding:2%;
    text-align:center;
    }
    .textbox h2{
        color:#fff;
        font-size:40px;
    }
    .textbox h3{
        color:#fff;
        font-size:20px;
    } */

    .btnImg img{
        width:50px;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
    .btnImg img[alt='left']{left:10%;}
    .btnImg img[alt='right']{right:10%;}
    .pager{
        display:flex;
        position:absolute;
        bottom:20%;
        left:50%;
        gap:10px;
        transform: translateX(-50%);
    }
    .pager li{
        width:14px;
        height:15px;
        background:url(../img/btnVisual.png) 0 -16px no-repeat;
    
    }
    .pager li a{
        display:block;
        text-indent:-999999px;
    }
    .pager li.on{
        background-position: 0 0;
    }

.logo>a{
    padding:10px;
}

.gnb{
    left:300px;
    margin-left: 200px;
    width:1000px;
    margin-bottom:60px;
    margin-right:0;
    padding-right:0;
} 

.gnb li{
    padding:15px;
    padding-top:30px; 
}
/* ====================================
    ======= deps 메뉴 ======    
==================================== */
.menu_title>p{
    margin:50px 0 0 10px;
    font-size:1.3rem;
}
.menu_title>h2:after{
    position:absolute;
    content:'';
    width:1px;
    height:80%;
    background:rgb(188, 188, 188);
    top:10%;
    left:35%;
}
nav{width:100%; height:9.4rem;}
.dep1 li{
    margin-right:20px;
    max-width: 200px;
    
}

.dep1>a:hover{
    text-decoration: 4px underline var(--accent);
}
.dep2{display:flex; }
.dep2>li{
    margin-left:100px;
    padding:0px;
    width:400px;
}
.dep2 dt{
    padding:10px 0 0 0;
}
.dep2 dl{
    padding-top:20px;
    margin-bottom:20px;
}
.dep2 h3>a{
    font-size:2rem;
}
.dep2 h3{
    border-bottom:#555;
    width:130px;
}

/* .dep1{opacity:0;}삭제 */
/* .dep1:nth-child(1){opacity:1;} 삭제 */
.w100{
    position:absolute;
    width:100%;
    background:rgb(255, 255, 255);
    left:0;
    top:70px;
    height:0px; /* 0으로 수정 */
    padding:0 0;
    overflow:hidden;
    transition:padding .5s;
    box-shadow:0 2px 2px rgba(0,0,0/7%);
}
.gnb li:hover .w100{
    padding:40px 0;
    height:auto;
    /* box-shadow:0 10px 10px rgba(0,0,0,.3); */
}

.imggnb{
    width:100px;
    margin:22px 0 22px 22px;
    
 }
.imggnb>img{
    display:inline-block;
    margin:0 0 10px 20px;
    width:40px;
    height:30px;
}
.imggnb>div{
    display:inline-block;
}
.imggnb .material-symbols-outlined{ /* gnb 사이트맵 아이콘*/
    display:inline-block;
    margin-left:10px;
    margin-bottom:10px;
    font-size:35px;
    color:black;}
.sitemap{
    position:fixed;
    margin:auto;
    top:0px;
    right:0px;
    /* transform:translateX(-50%); */
    width:100%;
    height:100%;
    background:rgb(255, 255, 255);
    display:none;
    z-index:100000;
    overflow-y:scroll;
    transition:all 1s;
}
.map_head{
    text-align: center;
}
.sitemap ul{
    margin:50px 0 0 150px;
}
.sitemap h2{
    width:150px;
    font-weight:700;
    font-size:2.7rem;
    padding:0;
}
.sitemap h3{
    font-size:2rem;
}
.sitemap dt{
    padding:7px;
}
.sitemap dl{
    padding-top:10px;
}
.sitemap ul li{
    width:180px;
    margin-left:70px;
}
.map_head{
    width:100%;
    height:50px;
    background:#424242;
    line-height: 50px;
    
}
.map_head p{
    position:absolute;
    display:inline-block;
    
}
.map_head p:first-child{
    left:48%;
    line-height: 50px;
    color:white;
}
.map_head p:last-child{
    left:50%;
    font-size:2rem;
    color:white;
}

/* .map:hover .sitemap{
    display:block;
} */
/* 여기부터 아이콘------------------------- */
.icon{
    width:1050px;
    height:120px;
    border-radius:50px;
    background:white;
    top:840px;
    left:50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    align-items:center;
    z-index:99;
    /* display:none; */
}
.icon>div{
    background:rgb(72, 126, 85);
    padding:65px 40px 50px 60px;
    font-size:2rem;
    color:var(--white);
    text-align:center;
    line-height:2rem;
}
.icon>div>p:nth-child(2){
    padding-top:10px;
    font-size: 1.2rem;
}
.icon>div>p>i{
    position:absolute;
    left:27px;
    top:29px;
    
}
.icon ul{
    margin:auto;
}
.icon li{   
    padding: 3rem;
    font-size:1.5rem;
    font-weight:800;
    text-align:center;   
}
.icon i{padding-top:1.5rem;}
.icon li >p{
    padding:2rem;
}
.icon li p{
    color:#555;
    transition:all 0.3s;
}
.icon li:hover p{
    color:var(--accent);
}
.icon li i{
    color:#555;
    transition:all 0.3s;
}
.icon li:hover i{
    color:var(--accent);
}
/* 배경 */
.content1,
.content2,
.content3,
.content4,
header,
main,
footer {
	position: relative;
	width: 100%;
	height: auto;
}
.content1:before {
	background: url(../img/paw.png) no-repeat;
	position: absolute;
	content: '';
	width: min(30%, 300px);
	height: min(50%, 300px);
	opacity: 0.4;
	z-index: -1;
	filter: grayscale(0.3);
}




/* 여기부터 content1-동물원/식물원/산림휴양 */


.content3:after{ /* 배경 코끼리/이거 때문에 content1에 pr 줬음 */
    /* background:url(../img/elephant.png) no-repeat; */
    content:'';
    height:800px;
    width:500px;
    right:0;
   
    z-index:-10;
    opacity:.5;
    position:absolute;
}
/* 배경발자국/이거 넣으니까 코끼리 사라짐 */
/* .content1:before{ 
    background:url(../img/footprint.png) no-repeat;
    content:'';
    height:500px;
    width:700px;
    right:20%;
    top:160%;
    z-index:-1;
    opacity:.4;
    user-select: none;
    position:absolute;
}  */
/* 배경발자국/오른쪽 */
/* .content1:after{ 
    background:url(../img/footprint.png) no-repeat;
    content:'';
    height:500px;
    width:700px;
    right:-30%;
    top:90%;
    z-index:-1;
    opacity:.4;
    user-select: none;
    position:absolute;
}  */
/* 사슴 그림*/
/* .content2:before{ 
    background:url(../img/dear.png) no-repeat;
    position:absolute;
    content:'';
    height:1000px;
    width:700px;

    z-index:-1;
    opacity:.2;
    user-select: none;
    transform:scaleX(-1);

}  */
/* 여기부터 content2-공지사항 */

/* ====================================
    ======= footer임 ======    
==================================== */
footer{
    height:250px;
    background:rgb(225, 225, 225);
    padding:30px;
}
footer>.inner>.fx{
    gap:30px;
}
.logogrey>img{
    width:150px;
}
.selectset{
    display:flex;
    margin-left:210px;
    gap:100px;
}

.select>ul{
    position:absolute;
    width:150px;
    height:100px;
    display:none;
    bottom:30px;
    background:gray;
  }

.select:hover >ul{
  display:block;
  overflow-y: scroll;
}
.select li{
    padding:10px;
}
.select p{
  width:150px;
  font-size:1.6rem;
  font-weight:600;
  background:rgb(153, 153, 153);
  color:#2e2e2e;
  text-align: center;
  padding:0px 0 10px 0;
}

footer .fx:last-child{
    margin-top:20px;
}
.infos{
    margin:0px 0 0 30px;
}
    
.info{
    width:800px;
    margin-top:20px;
}
.info>div{

    display:inline-block;
    margin-right:40px;
}
.info>div>a{
    font-size:1.3rem;
 
}
.address{
    font-size:1.3rem;
    width:700px;
    margin-top:2rem;
}
.copyright{
    font-size:1.3rem;
    width:700px;
    margin-top:4rem;
}

.call>div{
    font-size:1.3rem;
    display:inline-block;
}

.mark>img{
    width:100px;
    height:60px;
    margin-top:50px;

}
.logogrey{
    margin-top:20px;
}
.htmlvalidator{
    position:absolute;
    right:7%;
    bottom:10%;
    z-index:100;
    
}
.cssvalidator{
    position:absolute;
    right:0;
    bottom:10%;
    z-index:100;
}
.htmlvalidator>img{
 height:40px;
}
.cssvalidator>img{
    height:40px;
}
/* phone */
